Session.vim
*~
*.swp
*.o
*.gschema.valid
_build/
nextwall
nextwall-trainer
zip-files/

Makefile
Makefile.in
.deps/
aclocal.m4
autom4te.cache/
configure
config.log
config.status
depcomp
install-sh
missing
config.h
stamp-h1
