Session.vim
*~
*.anjuta*
*.swp
*.o
*.gschema.valid
_build/
includes.txt
lib/libnextwall.a
nextwall
nextwall-trainer
tests/check-nextwall
zip-files/

Makefile
Makefile.in
.deps/
aclocal.m4
ar-lib
autom4te.cache/
compile
configure
config.log
config.status
depcomp
install-sh
missing
config.h
stamp-h1
