.current-wallpaper-databox {
    padding: 5px 5px 0px 30px;
}

.thumbnail-bin {
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 2px;
}

.thumbnail-bin:hover {
    border: 2px solid #bbbbbb;
}

.current-wallpaper-thumbnail-box {
    padding-right: 20px;
}

.current-wallpaper-databox-captions {
    text-align: right;
    padding-right: 5px;
    color: #999999;
}

.current-wallpaper-databox-values {
    max-width: 300px;
}

