.thumbnail-bin {
    border: 2px solid #8b8b8b;
    border-radius: 2px;
}

.thumbnail-bin:hover {
    border: 2px solid #bbbbbb;
}

.current-wallpaper-captionbox {
    padding: 0px 5px 0px 5px;
}

.current-wallpaper-captionbox-captions {
    text-align: right;
    padding-right: 5px;
    color: #999999;
}

.current-wallpaper-captionbox-values {
    max-width: 300px;
}

.message-dialog {
    max-width: 500px;
}

.dialog-icon {
    padding-right: 20px;
}

